<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>设置成绩</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab top right edge>
    <button ion-fab mini><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <button ion-fab (click)="judge11();find()"><ion-icon>查</ion-icon></button>
      <button ion-fab (click)="judge22();find2()"><ion-icon>改</ion-icon></button>
    </ion-fab-list>
  </ion-fab>
  <!--<ion-grid no-lines="">-->
  <div *ngIf="due"  class="show2">
    <ion-grid>
      <ion-row class="row1">
        <ion-col>学号</ion-col>
        <!--<ion-col class="col" style="background:#0fff;opacity:0.5" >账号</ion-col>-->
        <ion-col  >日常分</ion-col>
        <ion-col >期末分</ion-col>
      </ion-row>


      <ion-row *ngFor="let r of result">
        <ion-col >{{r.cnameAndID.ID}}</ion-col>
        <!--<ion-col>{{ID}}</ion-col>-->
        <ion-col>{{r.dailyScore}}</ion-col>
        <ion-col>{{r.finalScore}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!--选项二-->
  <div *ngIf="due2" class="show2">
    <ion-item>
    <ion-label floating>请输入学生ID</ion-label>
    <ion-input [(ngModel)]="ID" type="text"></ion-input>
    </ion-item>
    <button ion-button (click)="call()">获取</button>
    <ion-grid>
      <ion-list>
        <ion-item>
          <ion-label fixed>学号</ion-label>
          <ion-input [(ngModel)]="ID" disabled=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>日常分</ion-label>
          <ion-input [(ngModel)]="dailyScore"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label fixed>期末分</ion-label>
          <ion-input [(ngModel)]="finalScore"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button (click)="post()">提交</button>
    </ion-grid>
  </div>
  <!--选项二-->

  <!--</ion-grid>-->

</ion-content>
