page-normal {
  .normalpage {

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #000000;
    }

    .card-subtitle {
      font-size: 1.3em;
      position: absolute;
      top: 55%;
      width: 100%;
      color: #000000;
    }
    .card-subtitle-1 {
      font-size: 1.0em;
      position: absolute;
      top: 70%;
      width: 100%;
      color: #000000;
    }
  }
}
