<!DOCTYPE html>
<html lang="zh_cn">
<head>
    <meta charset="utf-8">
    <style type="text/css">
        .gridStyle {
            border: 10px solid rgb(212,212,212);
            width: 120%;
            height: 500px;
        }
        .ngGridMaxPagesNumber {
            display:inline-block;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-cogs"></i> 系统设置</a></li>
        <li class="active"><i class="fa fa-group"></i> 学校信息</li>
    </ol>
</section>
<div class="gridStyle" ng-grid="gridOptions"></div>
</body>
</html>