<div class="page-title">

    <div class="title-env">
        <h1 class="title">Native Elements</h1>
        <p class="description">Plain text boxes, select dropdowns and other basic form elements</p>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="dashboard-1.html"><i class="fa-home"></i>Home</a>
            </li>
            <li>

                <a href="forms-native.html">Forms</a>
            </li>
            <li class="active">

                <strong>Native Elements</strong>
            </li>
        </ol>

    </div>

</div>
<div class="row">
    <div class="col-sm-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Default form inputs</h3>
                <div class="panel-options">
                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                    <a href="#" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>
            <div class="panel-body">

                <form role="form" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-1">Input text field</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="field-1" placeholder="Placeholder">
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-2">Password</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="field-2" placeholder="Placeholder (Password)">
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Disabled input</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Placeholder" disabled>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-3">Email field</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="field-3" placeholder="Enter your email&hellip;">
                            <p class="help-block">Example block-level help text here. Emails inputs are validated on native HTML5 forms.</p>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-4">File Field</label>

                        <div class="col-sm-10">
                            <input type="file" class="form-control" id="field-4">
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-5">Text area</label>

                        <div class="col-sm-10">
                            <textarea class="form-control" cols="5" id="field-5"></textarea>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-5">Auto grow</label>

                        <div class="col-sm-10">
                            <textarea class="form-control autogrow" cols="5" id="field-5" placeholder="I will grow as you enter new lines."></textarea>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group has-error">
                        <label class="col-sm-2 control-label" for="field-6">Error field</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="field-6" placeholder="Hello I am an error">
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group has-warning">
                        <label class="col-sm-2 control-label" for="field-7">Warning field</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="field-7" placeholder="Hello I am a warning">
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group has-success">
                        <label class="col-sm-2 control-label" for="field-8">Success field</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="field-8" placeholder="Hello I am a success message">
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group has-info">
                        <label class="col-sm-2 control-label" for="field-9">Info field</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="field-9" placeholder="Hello I am an info message">
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-11">Input size</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="field-13" placeholder=".input-sm">
                            <br />
                            <input type="text" class="form-control" id="field-14" placeholder="Normal input">
                            <br />
                            <input type="text" class="form-control input-lg" id="field-15" placeholder=".input-lg">
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="field-11">Input text position</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control text-center" id="field-11" placeholder="Placeholder">
                            <br />
                            <input type="text" class="form-control text-right" id="field-12" placeholder="Placeholder">
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Select list</label>

                        <div class="col-sm-10">
                            <select class="form-control">
                                <option>Option 1</option>
                                <option>Option 2</option>
                                <option>Option 3</option>
                                <option>Option 4</option>
                                <option>Option 5</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Checkboxes</label>

                        <div class="col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Default checkbox
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Another one
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" disabled>
                                    Disabled option
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" checked disabled>
                                    Checked and disabled option
                                </label>
                            </div>

                            <br />
                            <strong>Inline checkboxes</strong>

                            <p>
                                <label class="checkbox-inline">
                                    <input type="checkbox">
                                    Inline checkbox 1
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox">
                                    Inline checkbox 2
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox">
                                    Inline checkbox 3
                                </label>
                            </p>

                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Radio buttons</label>

                        <div class="col-sm-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="radio-1" checked>
                                    Default radio
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="radio-1">
                                    Another one
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" disabled>
                                    Disabled option
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" checked disabled>
                                    Checked and disabled option
                                </label>
                            </div>

                            <br />
                            <strong>Inline radio buttons</strong>

                            <p>
                                <label class="radio-inline">
                                    <input type="radio" name="radio-2" checked>
                                    Inline radio button 1
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio-2">
                                    Inline radio button 2
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="radio-2">
                                    Inline radio button 3
                                </label>
                            </p>

                        </div>
                    </div>


                </form>

            </div>
        </div>

    </div>
</div>