<section class="content-header">
    <!--<ol class="breadcrumb">-->
        <ul class="style1">小组成员：
        <li>袁炳杰</li>
            <li>黄义炽</li>
            <li>章明亮</li>
            <li>高伟钦</li>
        </ul>
        <ul class="style2">表功能：
            <li>人员表的新增，修改，删除</li>
            <li>课程表的新增，修改，删除</li>
            <li>角色数据字典的新增，修改，删除</li>
            <li>专业数据字典的新增，修改，删除</li>
            <li>状态数据字典的新增，修改，删除</li>
            <li>周序数据字典的新增，修改，删除</li>
            <li>点名表的查询</li>
            <li>提问表的查看</li>
        </ul>
        <ul class="style3">特色功能：
            <li>表格的单多选，按字段排序，翻页，跳页,动态更新最新数据</li>
            <li>修改模态窗口的自动填表</li>
            <li>新增，修改模态窗口的下拉框，与数据字典同步</li>
            <li>动画效果侧边栏，渐变色</li>
        </ul>
    <!--</ol>-->
</section>
