<ion-menu [content]="content">
  <ion-header>
  <ion-toolbar color="dark">
    <ion-title>菜单</ion-title>
    <!--<ion-item color="primary" no-lines="">-->
      <!--<ion-avatar item-start="">-->
        <!--<img src="assets/img/avatar/marty-avatar.png">-->
      <!--</ion-avatar>-->

      <!--<h2>姓名：</h2>-->
      <!--<p>学号：</p>-->

    <!--</ion-item>-->
  </ion-toolbar>
  </ion-header>

  <!--<ion-content>-->
  <!--<ion-list>-->
  <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
  <!--{{p.title}}-->
  <!--</button>-->
  <!--</ion-list>-->
  <!--</ion-content>-->

  <ion-content>
    <!--<div class="menu-header">-->
    <!--&lt;!&ndash;material-design-background&ndash;&gt;-->
    <!--<img class="user-avatar round" [src]="chosenPicture || placeholder"-->
    <!--onerror="this.src='assets/img/avatar/girl-avatar.png'"-->
    <!--/>-->
    <!--<p class="name">Paula Bolliger</p>-->
    <!--<p class="e-mail">pbolliger@email.com</p>-->
    <!--</div>-->


    <!--<ion-item class="student-inf">-->
      <!--<ion-avatar item-start="">-->
        <!--<img src="assets/img/avatar/girl-avatar.png">-->
      <!--</ion-avatar>-->

      <!--<h2>Marty McFly</h2>-->
      <!--<p>November 5, 1955</p>-->
    <!--</ion-item>-->


    <ion-list no-lines class="menulist">
      <button color="dark" menuClose="left" ion-item detail-none *ngFor="let p of pages" (click)="openPage(p)">
        <!--<ion-icon [name]="p.icon" item-left></ion-icon>-->
        <ion-icon name="nutrition-outline" item-left=""></ion-icon>
        <ion-icon name="arrow-forward" item-right=""></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>


</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
